<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.post.dao.NuccIdcOpNoticeMapper">
  <resultMap id="BaseResultMap" type="com.post.entity.NuccIdcOpNotice">
    <constructor>
      <idArg column="rec_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cnt_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="info_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="info_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="inst_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="acc_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="inst_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="notice_content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="notice_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="contacts" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="idc_list" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="biz_chan" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="biz_type_list" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="op_list" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="start_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="end_time" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="notice_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="send_status" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="idc_list2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="over_opera" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rec_id, cnt_no, info_no, info_type, inst_id, acc_type, inst_name, notice_content, 
    notice_desc, contacts, idc_list, biz_chan, biz_type_list, op_list, start_time, end_time, 
    notice_status, send_status, idc_list2, over_opera
  </sql>
  <select id="selectByExample" parameterType="com.post.entity.NuccIdcOpNoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from nucc_idc_op_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nucc_idc_op_notice
    where rec_id = #{recId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from nucc_idc_op_notice
    where rec_id = #{recId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.post.entity.NuccIdcOpNotice">
    insert into nucc_idc_op_notice (rec_id, cnt_no, info_no, 
      info_type, inst_id, acc_type, 
      inst_name, notice_content, notice_desc, 
      contacts, idc_list, biz_chan, 
      biz_type_list, op_list, start_time, 
      end_time, notice_status, send_status, 
      idc_list2, over_opera)
    values (#{recId,jdbcType=VARCHAR}, #{cntNo,jdbcType=VARCHAR}, #{infoNo,jdbcType=VARCHAR}, 
      #{infoType,jdbcType=VARCHAR}, #{instId,jdbcType=VARCHAR}, #{accType,jdbcType=VARCHAR}, 
      #{instName,jdbcType=VARCHAR}, #{noticeContent,jdbcType=VARCHAR}, #{noticeDesc,jdbcType=VARCHAR}, 
      #{contacts,jdbcType=VARCHAR}, #{idcList,jdbcType=VARCHAR}, #{bizChan,jdbcType=VARCHAR}, 
      #{bizTypeList,jdbcType=VARCHAR}, #{opList,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{noticeStatus,jdbcType=VARCHAR}, #{sendStatus,jdbcType=VARCHAR}, 
      #{idcList2,jdbcType=VARCHAR}, #{overOpera,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.post.entity.NuccIdcOpNotice">
    insert into nucc_idc_op_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        rec_id,
      </if>
      <if test="cntNo != null">
        cnt_no,
      </if>
      <if test="infoNo != null">
        info_no,
      </if>
      <if test="infoType != null">
        info_type,
      </if>
      <if test="instId != null">
        inst_id,
      </if>
      <if test="accType != null">
        acc_type,
      </if>
      <if test="instName != null">
        inst_name,
      </if>
      <if test="noticeContent != null">
        notice_content,
      </if>
      <if test="noticeDesc != null">
        notice_desc,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="idcList != null">
        idc_list,
      </if>
      <if test="bizChan != null">
        biz_chan,
      </if>
      <if test="bizTypeList != null">
        biz_type_list,
      </if>
      <if test="opList != null">
        op_list,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="noticeStatus != null">
        notice_status,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="idcList2 != null">
        idc_list2,
      </if>
      <if test="overOpera != null">
        over_opera,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        #{recId,jdbcType=VARCHAR},
      </if>
      <if test="cntNo != null">
        #{cntNo,jdbcType=VARCHAR},
      </if>
      <if test="infoNo != null">
        #{infoNo,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        #{instId,jdbcType=VARCHAR},
      </if>
      <if test="accType != null">
        #{accType,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        #{instName,jdbcType=VARCHAR},
      </if>
      <if test="noticeContent != null">
        #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="noticeDesc != null">
        #{noticeDesc,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="idcList != null">
        #{idcList,jdbcType=VARCHAR},
      </if>
      <if test="bizChan != null">
        #{bizChan,jdbcType=VARCHAR},
      </if>
      <if test="bizTypeList != null">
        #{bizTypeList,jdbcType=VARCHAR},
      </if>
      <if test="opList != null">
        #{opList,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="noticeStatus != null">
        #{noticeStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="idcList2 != null">
        #{idcList2,jdbcType=VARCHAR},
      </if>
      <if test="overOpera != null">
        #{overOpera,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.post.entity.NuccIdcOpNoticeExample" resultType="java.lang.Long">
    select count(*) from nucc_idc_op_notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nucc_idc_op_notice
    <set>
      <if test="record.recId != null">
        rec_id = #{record.recId,jdbcType=VARCHAR},
      </if>
      <if test="record.cntNo != null">
        cnt_no = #{record.cntNo,jdbcType=VARCHAR},
      </if>
      <if test="record.infoNo != null">
        info_no = #{record.infoNo,jdbcType=VARCHAR},
      </if>
      <if test="record.infoType != null">
        info_type = #{record.infoType,jdbcType=VARCHAR},
      </if>
      <if test="record.instId != null">
        inst_id = #{record.instId,jdbcType=VARCHAR},
      </if>
      <if test="record.accType != null">
        acc_type = #{record.accType,jdbcType=VARCHAR},
      </if>
      <if test="record.instName != null">
        inst_name = #{record.instName,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeContent != null">
        notice_content = #{record.noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeDesc != null">
        notice_desc = #{record.noticeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null">
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.idcList != null">
        idc_list = #{record.idcList,jdbcType=VARCHAR},
      </if>
      <if test="record.bizChan != null">
        biz_chan = #{record.bizChan,jdbcType=VARCHAR},
      </if>
      <if test="record.bizTypeList != null">
        biz_type_list = #{record.bizTypeList,jdbcType=VARCHAR},
      </if>
      <if test="record.opList != null">
        op_list = #{record.opList,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeStatus != null">
        notice_status = #{record.noticeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.sendStatus != null">
        send_status = #{record.sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.idcList2 != null">
        idc_list2 = #{record.idcList2,jdbcType=VARCHAR},
      </if>
      <if test="record.overOpera != null">
        over_opera = #{record.overOpera,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nucc_idc_op_notice
    set rec_id = #{record.recId,jdbcType=VARCHAR},
      cnt_no = #{record.cntNo,jdbcType=VARCHAR},
      info_no = #{record.infoNo,jdbcType=VARCHAR},
      info_type = #{record.infoType,jdbcType=VARCHAR},
      inst_id = #{record.instId,jdbcType=VARCHAR},
      acc_type = #{record.accType,jdbcType=VARCHAR},
      inst_name = #{record.instName,jdbcType=VARCHAR},
      notice_content = #{record.noticeContent,jdbcType=VARCHAR},
      notice_desc = #{record.noticeDesc,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      idc_list = #{record.idcList,jdbcType=VARCHAR},
      biz_chan = #{record.bizChan,jdbcType=VARCHAR},
      biz_type_list = #{record.bizTypeList,jdbcType=VARCHAR},
      op_list = #{record.opList,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=VARCHAR},
      notice_status = #{record.noticeStatus,jdbcType=VARCHAR},
      send_status = #{record.sendStatus,jdbcType=VARCHAR},
      idc_list2 = #{record.idcList2,jdbcType=VARCHAR},
      over_opera = #{record.overOpera,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.post.entity.NuccIdcOpNotice">
    update nucc_idc_op_notice
    <set>
      <if test="cntNo != null">
        cnt_no = #{cntNo,jdbcType=VARCHAR},
      </if>
      <if test="infoNo != null">
        info_no = #{infoNo,jdbcType=VARCHAR},
      </if>
      <if test="infoType != null">
        info_type = #{infoType,jdbcType=VARCHAR},
      </if>
      <if test="instId != null">
        inst_id = #{instId,jdbcType=VARCHAR},
      </if>
      <if test="accType != null">
        acc_type = #{accType,jdbcType=VARCHAR},
      </if>
      <if test="instName != null">
        inst_name = #{instName,jdbcType=VARCHAR},
      </if>
      <if test="noticeContent != null">
        notice_content = #{noticeContent,jdbcType=VARCHAR},
      </if>
      <if test="noticeDesc != null">
        notice_desc = #{noticeDesc,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="idcList != null">
        idc_list = #{idcList,jdbcType=VARCHAR},
      </if>
      <if test="bizChan != null">
        biz_chan = #{bizChan,jdbcType=VARCHAR},
      </if>
      <if test="bizTypeList != null">
        biz_type_list = #{bizTypeList,jdbcType=VARCHAR},
      </if>
      <if test="opList != null">
        op_list = #{opList,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="noticeStatus != null">
        notice_status = #{noticeStatus,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="idcList2 != null">
        idc_list2 = #{idcList2,jdbcType=VARCHAR},
      </if>
      <if test="overOpera != null">
        over_opera = #{overOpera,jdbcType=VARCHAR},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.post.entity.NuccIdcOpNotice">
    update nucc_idc_op_notice
    set cnt_no = #{cntNo,jdbcType=VARCHAR},
      info_no = #{infoNo,jdbcType=VARCHAR},
      info_type = #{infoType,jdbcType=VARCHAR},
      inst_id = #{instId,jdbcType=VARCHAR},
      acc_type = #{accType,jdbcType=VARCHAR},
      inst_name = #{instName,jdbcType=VARCHAR},
      notice_content = #{noticeContent,jdbcType=VARCHAR},
      notice_desc = #{noticeDesc,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      idc_list = #{idcList,jdbcType=VARCHAR},
      biz_chan = #{bizChan,jdbcType=VARCHAR},
      biz_type_list = #{bizTypeList,jdbcType=VARCHAR},
      op_list = #{opList,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      notice_status = #{noticeStatus,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      idc_list2 = #{idcList2,jdbcType=VARCHAR},
      over_opera = #{overOpera,jdbcType=VARCHAR}
    where rec_id = #{recId,jdbcType=VARCHAR}
  </update>
</mapper>